.main-container{
    height: 100vh;
    width: 100vw;
    padding: 4rem;
    background-color: #d2e2ec;
}
.card-container {
    margin-left: 15rem;
    margin-right: 15rem ;
    min-width: 45rem;
    min-height: 20rem;
}
.icon-number{
    margin-right: 1rem;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    border-color: #d2e2ec;
    width:3rem;
    height: 3rem;
    padding: 1rem;
}
.colLeft{
    font-family: 'Ubuntu', sans-serif;
    height: 70vh;
    background-image: url('../images/bg-sidebar-desktop.svg');
    background-size: cover;
    color: #d2e2ec;
    font-family: 'Ubuntu-Bold';
}

.cardsProducts > .col-3, .col-12{
    border-color: rgb(45, 61, 105);
    border-width: 1px;
    border-radius: 0.5rem;
    border-style: solid;
}

.cardsProducts > .col-12{
   max-width: 27rem;
}

.hidden{
    display: none;
}
.grid{
    display: grid !important; 
    grid-template-columns: 2fr 4fr;

}
.colRight{
    padding-left: 3rem;
    padding-top: 2rem;
    font-family: 'Ubuntu', sans-serif;
    color: #084977;
}
.colRight > div > p{
    font-family: 'Ubuntu', sans-serif;
    color: #afb7bd;
    margin-bottom: 1rem;
}