.main-container{
    height: 100vh;
    width: 100vw;
    padding: 4rem;
    background-color: #d2e2ec;
}
.card-container {
    margin-left: 15rem;
    margin-right: 15rem ;
}
.icon-number{
    margin-right: 1rem;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    width:3rem;
    height: 3rem;
    padding: 1rem;
}
.colLeft{
    height: 70vh;
    background-image: url('../images/bg-sidebar-desktop.svg');
    background-size:    100% 110%;
}